#ball {
    background-color: red;
    width: 30px;
    height: 30px;
    position: absolute;
    border-radius: 50%;
    

}

#npcPatrollBall{
    background-color: greenyellow;
    width: 30px;
    height: 30px;
    position: absolute;
    border-radius: 50%;
}